<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
    <script src="../static/jquery-3.6.1.min.js"></script>
</head>
<body>
    <!-- <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="搜索">
    </form> -->

    <button id="btn">发送ajax</button>
    <!-- 添加csrf_token -->
	{% csrf_token %} 

   
    <script>
  $('#btn').click(function () {
		var csrf = $('input[name="csrfmiddlewaretoken"]').val();  //增加csrf变量将在data中传参以避免403错误
        // 朝后端发送ajax请求
        $.ajax({
            // 1.指定朝哪个后端发送ajax请求
            url:'/search/', //不写就是朝当前地址提交【与form表单的action参数相同】
            // 2.请求方式
            type:'get',  // 不指定默认就是get，都是小写
            // 3.数据
            data:{'q':5},
            //data:{'num1':$('#d1').val(), 'num2':$('#d2').val(),'csrfmiddlewaretoken': csrf},
            // 4.回调函数:当后端给你返回结果的时候会自动触发，args接受后端的返回结果
            success:function (args) {
               console.log('ajax success! data = '+ analyze(args))
            }
        })
    })

        function analyze(str)
        {
            console.log(str)
        }
    </script>
</body>
</html>